.intro {
    background-image: url("/home/moringaschool/Desktop/My-projects/Week3/Delani2/Delani-studios.github.io/Delani studios/img/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    text-align: center;
    padding-bottom: 50px;
    padding-top: 80px;
}

.intro h1 {
    text-align: center;
    color: white;
}

.intro p {
    color: white;
    font-size: 15px;
}

/* .intro img1{
    padding-bottom: 50px;
}
.intro img2{
    padding-top: 150;
} */
.info {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.info h1 {
    font-weight: bolder;
}

.info p {
    font-size: large;
}

.services {
    background-image: url("/home/moringaschool/Desktop/My-projects/Week3/Delani2/Delani-studios.github.io/Delani studios/img/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding-bottom: 90px;
}

.serv {
    padding-top: 130px;
}

.serv p {
    font-weight: bold;
}

.row {
    columns: 3;
    align-self: auto;
}

.des {
    text-align: center;
    /* display: none; */
}

.des p {
    display: none;
}

.dev p {
    display: none;
}

.prod p {
    display: none;
}

.h2 {
    text-align: center;
}

* {
    box-sizing: border-box;
    height: auto;
}

.col1 {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.col2 {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row1 {
    margin: 0 150px;
}

.row2 {
    margin: 0 150px;
}

.row1:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: 25%;
        display: block;
        margin-bottom: 20px;
    }
}

.wrapper {
    background-image: url("/home/moringaschool/Desktop/My-projects/Week3/Delani2/Delani-studios.github.io/Delani studios/img/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 100px auto 0;
    margin-top: 350px;
    box-sizing: border-box;

}
.wrapper h1{
    position: relative;
    top: 30px;
}
.text{
    margin-bottom: 20px;
}
.form-control{
    background-color: transparent;
    color: white;
} 
.input{
    margin-top: 30px;
}
.name{
    margin-right: 5px;
}
.email{
    margin-right: 5px;
}
input.error{
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}
.social{
    justify-content:center;
    padding-left:10px;
    padding-right:10px;
}
.card {
    float: left;
    position: relative;
    margin: 5px;
}
.card .porttext {
    display: none;
    opacity: 0.7;
    background-color: white;
    width: auto;
    position: absolute;
    bottom: 0;
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    padding: 30px;
    height: 100%;
}